@charset "utf-8";
/* CSS Document */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, img, dl, dt, dd, ol, ul, li, form, table { margin:0; padding:0; border:0; list-style:none;}
div, span, h1, h2, h3, h4, h5, h6, p, a, img, dl, dt, dd, ol, ul, li, form { overflow:hidden;}
input { margin:0; padding:0; }
h1,h2,h3,h4,h5,h6 {font-size:12px; font-weight:normal;}
a,area{blr:expression(this.onFocus=this.blur())}
a { text-decoration:none;}
a:hover { text-decoration:underline;}
html, body { font-family:"微软雅黑", "宋体" }
.boxcenter { margin:0 auto;}



/* header */
.gxj_header { width:100%; height:62px; border-bottom:1px solid #c9c9c9;}
.gxj_top { width:1200px; margin:11px auto 0;}
h1 { }

/* gxj_content */
.gxj_content { width:1200px; margin:0 auto;}
.gxj_flash00 { position:relative; width:732px; float:left; margin:100px 50px 85px 10px; background:url(images/gxj_bannerbg.png) no-repeat;}
.gxj_prevLeft { opacity:0.7; filter:alpha(opacity=70); cursor:pointer; width:94px; height:97px; float:left; margin:94px 30px 0 0;}
.gxj_prevLeft:hover { opacity:1; filter:alpha(opacity=100); cursor:pointer; width:94px; height:97px; float:left; margin:94px 30px 0 0;}
.gxj_nextRight { opacity:0.7; filter:alpha(opacity=70); cursor:pointer; width:94px; height:97px; float:left; margin:94px 0 0 30px;}
.gxj_nextRight:hover { opacity:1; filter:alpha(opacity=100); cursor:pointer; width:94px; height:97px; float:left; margin:94px 0 0 30px;}

.gxj_donghua { float:left; width:389px; height:247px; margin:23px 47px 83px;}
.gxj_donghua li { float:left;}
.gxj_donghua li a {}
.gxj_bd { float:left;}
.gxj_bd ul { float:left;}

.gxj_point{ position:absolute; bottom:30px; left:50%; margin-left:-25px; width:50px; height:10px;}
.gxj_point li { width:10px; height:10px; margin:0 5px; background:#b5b0a7; float:left; opacity:0.8; filter:alpha(opacity=80); border-radius:100px; -webkit-radius:100px; -moz-radius:100px;}
.gxj_point li.on { background:#e15b52!important; opacity:1!important; filter:alpha(opacity=100)!important;}
.gxj_on { background:#4195f2!important; opacity:1!important; filter:alpha(opacity=100)!important;}






.gxj_Iblock { float:left; margin-top:100px; width:294px; height:315px; border:1px solid #c9c9c9;}
.gxj_Iblock h2 { width:270px; height:45px; line-height:45px; border-bottom:1px solid #c9c9c9; margin:0 auto; color:#7d7d7d; font-size:16px;}
.gxj_Iblock1 { width:247px; margin:9px auto 0;}
.gxj_Iblock1 dl { line-height:34px;}
.gxj_Iblock1 dl dt { font-size:14px; color:#7e7d7d;}
.gxj_Iblock1 dl dd {}
.gxj_checked { line-height:43px; font-size:12px;  }
.gxj_checked a { color:#7d7d7d; }
.gxj_checked a:hover { color:#4195f2;}
.gxj_remind { height:20px; color:#f00; font-size:12px;}

/* footer */
.gxj_footer { position:absolute; bottom:0; width:100%; line-height:45px; text-align:center; color:#7d7d7d; font-size:12px; border-top:1px solid #c9c9c9; }





/* 通用 */
.gxj_fl { float:left;}
.gxj_fr { float:right;}
.gxj_text00 { /* color:#d2d2d2; */ border:none; width:209px; height:32px; padding-left:36px; background:url(images/gxj_admin.png) 9px 6px no-repeat; border:1px solid #c9c9c9;}
.gxj_text01 { border:none; width:209px; height:32px; padding-left:36px; background:url(images/gxj_key.png) 9px 6px no-repeat;border:1px solid #c9c9c9;}
.gxj_but00 { margin-top:6px; display:block; width:247px; height:36px; line-height:36px; background:#e15b52; border-radius:2px; color:#fff; font-size:14px; text-align:center;}
.gxj_Mfl { margin:15px 5px 0 0; float:left;}
.gxj_bg01 { width:128px; height:86px; padding-top:165px; background:url(images/gxj_Imgbg01.png) no-repeat!important;}
.gxj_bg02 { width:128px; height:86px; padding-top:168px; background:url(images/gxj_Imgbg02.png) no-repeat!important;}
.gxj_bg03 { width:128px; height:86px; padding-top:169px; background:url(images/gxj_Imgbg03.png) no-repeat!important;}
.gxj_bg04 { width:128px; height:86px; padding-top:165px; background:url(images/gxj_Imgbg04.png) no-repeat!important;}
.gxj_bg05 { width:128px; height:86px; padding-top:168px; background:url(images/gxj_Imgbg05.png) no-repeat!important;}
.gxj_bg06 { width:128px; height:86px; padding-top:160px; background:url(images/gxj_Imgbg06.png) no-repeat!important;}


.login-title{
	
}

.login-title:LINK{
	text-decoration: none;
}
.login-title:ACTIVE{
	text-decoration: none;
}
.login-title:HOVER:{
	text-decoration: none;
}

.trans {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    -webkit-backface-visibility: hidden;
}
.trans:hover {
    transform: scale(1.1,1.1);
    -ms-transform: scale(1.1,1.1);
    -webkit-transform: scale(1.1,1.1);
}